@model GiftRegistry.Models.GiftList

@{
    ViewBag.Title = "FriendRecomendation";
}

<h2>Friend Recommendation</h2>

@using (Html.BeginForm())
{
<div>
    <h4>One of your friends thinks you might like this!</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GiftName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiftName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

    </dl>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="I want this!" class="btn btn-default" />
        </div>
    </div>
</div>
}


<p>
</p>