@model IEnumerable<GiftRegistry.Models.GiftList>
    @using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<div class="userInfo">
    <h2>Your List</h2>
</div>

@using (Html.BeginForm("Index", "GiftLists", FormMethod.Get, new {@class ="form-group" }))
{

    <p>
        <strong>Category:</strong> @Html.DropDownList("giftCategory", (SelectList)ViewBag.giftCategory, new { @class = "form-control" })
    </p>

    <p>
        <strong>Name of Gift:</strong> @Html.TextBox("searchString", "", new { @class = "form-control text" })
    </p>
    <p>
        <strong>Sort By:</strong> @Html.DropDownList("sortBy", (SelectList)ViewBag.sortBy, new { @class = "form-control multiple" })
    </p>

    <p><input type="submit" value="Apply Filters" /></p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.UserId == User.Identity.GetUserId())
    {
    <tr>
        <td>
            <a href=@item.Link>
                @Html.DisplayFor(modelItem => item.GiftName)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
        }
    }

</table>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "customButton" })
</p>
