@model IEnumerable<GiftRegistry.Models.GiftList>
    @using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>Your List</h2>

@using (Html.BeginForm("Index", "GiftLists", FormMethod.Get))
{
    <p>
        Category: @Html.DropDownList("giftCategory", "All")
        Title: @Html.TextBox("SearchString")
    </p>
    <p>
        Sorty by: @Html.DropDownList("sortBy", "None")
    </p>
    <p><input type="submit" value="Apply Filters" /></p>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GiftName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.UserId == User.Identity.GetUserId() /*!item.Bought && DateTime.Now < Birthday*/)
    {
    <tr>
        <td>
            <a href=@item.Link>
                @Html.DisplayFor(modelItem => item.GiftName)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ID })
        </td>
    </tr>
        }
    }

</table>
