@model GiftRegistry.Models.UserModel

@{
    ViewBag.Title = "Public List";
}


@foreach (var item in Model.AppUser)
{
    if (item.Id == Model.UserID)
    {
        int age;
        if (item.BirthDate.Month < DateTime.Now.Month)
        {
            age = DateTime.Now.Year - item.BirthDate.Year;
        }
        else
        {
            age = DateTime.Now.Year - item.BirthDate.Year - 1;
        }
        string birthday = item.BirthDate.ToString("MMMM dd, yyyy");
        <h2>@item.Name's List</h2>
        <h3>Date of Birth: @birthday, Age: @age</h3>

        <form asp-controller="GiftsLists" asp-action="Index">
            <p>
            <select asp-for="giftCategory" asp-items="Model.categories">
                    <option value="">All</option>
                </select>
                Title: <input type="text" name="SearchString">
                <input type="submit" value="Filter" />
            </p>
        </form>
        <table class="table">
            <tr>
                <th>Gift Name</th>
                <th>Rating</th>
                <th>Category</th>
                <th>Price </th>
                <th>Bought?</th>
                <th>Buy This?</th>
            </tr>

                @foreach (var gift in Model.Gifts)
                {
                    if (item.Id == gift.UserId)
                    {
                    <tr>
                        <td>
                            <a href=@gift.Link>
                                @Html.DisplayFor(modelItem => gift.GiftName)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => gift.Rating)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => gift.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => gift.Price)
                        </td>
                        @if (gift.Bought == true)
                        {
                            <td>Yes</td>
                            <td><strong>Sorry already purchased!</strong></td>
                        }
                        else
                        {
                            <td>No</td>
                            <td>@Html.ActionLink("Buy", "BuyGift", new { id = gift.ID })</td>
                        }
                    </tr>
                    }
                }
            </table>
            <p>@Html.ActionLink("Recommend a gift!", "../Friends/RecommendToFriend", new { id = item.Id })</p>
    }

}


