@model GiftRegistry.Models.FriendsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FriendsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FriendID1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendID1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FriendID2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FriendID2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friend1NotificationFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friend1NotificationFlag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Friend2NotificationFlag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Friend2NotificationFlag)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
