@model GiftRegistry.Models.UserModel
   @using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Index";
}

<h2>Your Friends!</h2>

<form asp-controller="FriendsController" asp-action="Index">
    <p>
        Name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<p>
    @Html.ActionLink("Add Friends", "AddFriends", null, new { @class = "customButton" })
</p>

<!-- Go through every entry in the friend's databse-->
@foreach (var friend in Model.Friends) {
    // Compare those to every user in the application user database
    foreach (var user in Model.AppUser)
    {
        // If neither entry in the friend's database is the user who is currently logged in skip this entry
        if (friend.FriendID1 != User.Identity.GetUserId() && friend.FriendID2 != User.Identity.GetUserId())
        {
            continue;
        }

        // Display the user's information
        if (user.Id == friend.FriendID1 && user.Id != User.Identity.GetUserId())
        {
            <h3>@Html.ActionLink(user.Name, "../GiftLists/PublicList", new { userId = user.Id })</h3>
            <p>@Html.ActionLink("Delete", "Delete", new { id = friend.ID}, new { @class = "negativeCustomButton" })</p>
            @DisplayGiftList(friend.FriendID1);
        }
        if (user.Id == friend.FriendID2 && user.Id != User.Identity.GetUserId())
        {
            <h3>@Html.ActionLink(user.Name, "../GiftLists/PublicList", new { userId = user.Id })</h3>
            <p>@Html.ActionLink("Delete", "Delete", new { id = friend.ID }, new { @class = "negativeCustomButton" })</p>
            @DisplayGiftList(friend.FriendID2);
        }
    }
}

    <!-- Display this user's gift table -->
   @helper DisplayGiftList(string friendId) {
        <table class="table">
            <tr>
                <th>Gift Name</th>
                <th>Rating</th>
                <th>Category</th>
                <th>Price</th>
                <th>Bought</th>
                <th></th>
            </tr>
        @foreach (var gift in Model.Gifts)
        {
            // If the current row has the same id as one of your friends, print their data
            if (gift.UserId == friendId)
            {
            <tr>
                <td>
                    <a href=@gift.Link>
                        @Html.DisplayFor(modelItem => gift.GiftName)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gift.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gift.Category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => gift.Price)
                </td>
                @if (gift.Bought == true)
                {
                    <td>Yes</td>
                    <td><strong>Sorry already purchased!</strong></td>
                }
                else
                {
                    <td>No</td>
                    <td>@Html.ActionLink("Buy", "../GiftLists/BuyGift", new { id = gift.ID }, new { @class = "customTableButton"})</td>
                }
            </tr>
            }
        }

        </table>
}

